@import "variables";
// Rely on a lot of bootstrap classes, mixins -- defined by our variables and overrides
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $src-font-family;
}

html, body {
  // set the font size equal to whatever the user defines as the standard text size (usually 16px)
  // http://stackoverflow.com/questions/22228568/switching-to-em-based-media-queries
  // http://css-tricks.com/rems-ems/#comment-1540171
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;

  &:hover, &:focus {
    color: $src-bright-brand;
  }
}

p {
  margin: 0;
}

.content-section {
  color: $src-dark;
  background-color: $src-super-bright;

  @include at-least-small-screen-styles {
    padding: $src-content-section-vertical-space 0;
  }

  &.alt-content-section {
    background-color: $src-dark;
    color: $src-super-bright;
  }
}

body .form-control {
  @include font-size(18px);
  color: $src-dark;
  &::placeholder {
    color: rgba(69, 63, 70, .5);
  }
}

body .form-group {
  margin-bottom: 38px;
}

/* APP STYLES */
.app {

  h1, h2 {
    font-weight: bold;
  }

  h3 {
    font-weight: 600;
  }

  .above-the-fold {
    height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../assets/images/dog-bg.jpg);

    //background-image: url(../assets/images/dog-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .logo-wrapper {
      font-weight: bold;
      color: $src-bright-brand;
      background: rgba(255, 255, 255, 0.50);
      display: inline-block;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      @include at-least-small-screen-styles {
        padding: 16px 20px;

        .logo-text {
          @include font-size(20px);
          vertical-align: middle;
          margin-left: 15px;
        }
      }
    }

    .jumbotron {
      color: $src-dark;
      background: none;

      @include at-least-small-screen-styles {
        h1 {
          @include font-size(64px);
        }

        h2 {
          @include font-size(36px);
          margin-top: 30px;
        }

        padding: 210px 0 0;
      }

      .blurb {
        color: $src-super-bright;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
        text-align: center;
      }
    }

    .sign-up-wrapper {
      .btn-lg {
        font-weight: bold;
        @include center-block();
        padding: 24px 48px;

        @include at-least-small-screen-styles {
          @include font-size(24px);
          margin-top: 80px;
        }
      }
    }
  }

  .features {

    .row {
      // http://stackoverflow.com/a/25517025/173957
      display: flex;
      align-items: center;
    }

    h3 {
      @include at-least-small-screen-styles {
        @include font-size(36px);
        margin-bottom: 5px;
      }
    }

    p {
      @include at-least-small-screen-styles {
        @include font-size(24px);
      }
    }

    img {
      @include at-least-small-screen-styles {
        height: 224px;
      }
    }
  }

  .signup {
    background-color: $src-bright-brand;
    color: $src-super-bright;
    text-align: center;

    .signup-container {
      @include at-least-small-screen-styles {
        @include center-block();
        width: 420px;
      }

      h3 {
        font-weight: bold;

        @include at-least-small-screen-styles {
          @include font-size(36px);
          margin: 32px 0;
        }
      }

      p {

        @include at-least-small-screen-styles {
          @include font-size(24px);
          margin-bottom: 70px;
        }
      }

      input {
        @include at-least-small-screen-styles {
          @include font-size(18px);
        }
      }

      .btn-sign-up {
        //background: none;
        border: 1px solid $src-super-bright;
        width: 100%;
        @include font-size(24px);
      }
    }
  }

  .footer {
    background-color: $src-dark;
    color: $src-super-bright;
    ul {
      margin-bottom: 0;
      @extend .list-inline;

      li {
        &#footer-copyright {
          display: block;

          text-align: center;

          padding: 64px 0;

        }

        &.social {
          float: right;

          @include at-least-small-screen-styles {
            margin-left: 10px;
            margin-right: 0;
            padding-top: 5px;
            padding-right: 5px;
          }

          i {
            background-color: $src-super-bright;
            text-align: center;
            color: $src-bright-brand;
            border-radius: 50%;

            @include at-least-small-screen-styles {
              width: 20px;
              height: 20px;
              padding-top: 3px;
            }
          }
        }
      }
    }
  }
}
